asgiref==3.8.1
attrs==23.2.0
black==24.4.2
click==8.1.7
Django==4.2
django-ckeditor-5==0.2.13
django-cors-headers==4.3.1
django-filter==24.2
django-js-asset==2.2.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
Faker==25.4.0
flake8==7.0.0
inflection==0.5.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
pycodestyle==2.11.1
pyflakes==3.2.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
rpds-py==0.18.1
six==1.16.0
sqlparse==0.5.0
swagger-spec-validator==3.0.3
typing_extensions==4.12.0
uritemplate==4.1.1
